.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container a {
  border: none;
}
.thin {
  display: none;
}
@media screen and (max-width: 1015px) {
  .container.thin {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}