.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ba4344;
  gap: 30px;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 10% 0 10%;
    width: 100%;
    overflow: hidden;
  }
}